*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.7em;
}
.green{
    width: 600px;
    height: 300px;
    background: green;
    position: relative;
}
.red{
    width: 150px;
    height: 150px;
    background: red;
    border-radius: 100%;
    position: absolute;
    top: 0%;
    left: 10%;
    transform: translate(100%,50%);
}

.fb{
    width: 180px;
    position: fixed;
    top: 20%;
    right: -125px;
    transition: 1s;

}
.fb:hover{
    right: -5px;

}

.Instagram{
    width: 180px;
    position: fixed;
    top: 32%;
    right: -125px;
    transition: 1s;
}
.Instagram:hover{
    right: -5px;

}
.linkedin{
    width: 180px;
    position: fixed;
    top: 44%;
    right: -125px;
    transition: 1s;
}
.linkedin:hover{
    right: -5px;

}
.twitter{
    width: 180px;
    position: fixed;
    top: 56%;
    right: -125px;
    transition: 1s;
}
.twitter:hover{
    right:-5px;
}
.viber{
    width: 180px;
    position: fixed;
    top: 72%;
    right: -125px;
    transition: 1s;
}
.viber:hover{
    right: -5px;
    cursor: pointer;
}
.social-icons{
    width: 100%;
    padding: 40px 0px;
    text-align: center;
}
.social-icons li{
    list-style: none;
    display: inline-block;
}
.social-icons li a{
    display: block;
    text-align: center;
    font-size: 35px;
    margin: 0px 10px;
    transition: 1s;
}
.social-icons li a .fa-facebook{
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 100%;
    background:  #3b5998;
    color: #fff;
    border: 1px solid #08c;
}
.social-icons li a .fa-facebook:hover{
    background: #287e48;
    color: darkmagenta#;
    border: 1px solid rgb(43, 4, 4);
}

.social-icons li a .fa-twitter{
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 100%;
    background: rgb(42, 45, 47);
    color: #00acee;
    border: 1px solid #08c;
}
.social-icons li a .fa-twitter:hover{
    background: #287e48;
    color: darkmagenta;
    border: 1px solid rgb(43, 4, 4);
}

.social-icons li a .fa-whatsapp{
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 100%;
    background:  #075E54;
    color:  #25D366 ;
    border: 1px solid #08c;
}
.social-icons li a .fa-whatsapp:hover{
    background: #287e48;
    color: darkmagenta;
    border: 1px solid rgb(43, 4, 4);
}

.social-icons li a .fa-linkedin{
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 100%;
    background: #0072b1;
    color: #fff;
    border: 1px solid #08c;
}
.social-icons li a .fa-linkedin:hover{
    background: #287e48;
    color: darkmagenta;
    border: 1px solid rgb(43, 4, 4);
}

.social-icons li a .fa-telegram{
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 100%;
    background: #0088cc;
    color: #fff;
    border: 1px solid #08c;
}
.social-icons li a .fa-telegram:hover{
    background: #287e48;
    color: darkmagenta;
    border: 1px solid rgb(43, 4, 4);
}

.social-icons li a .fa-snapchat{
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 100%;
    background: #FFFC00;
    color: 	255 252 0;
    border: 1px solid #08c;
}
.social-icons li a .fa-snapchat:hover{
    background: #287e48;
    color: darkmagenta;
    border: 1px solid rgb(43, 4, 4);
}

.social-icons li a .fa-youtube{
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 100%;
    background: #FF0000;
    color: 	255 0 0;
    border: 1px solid #08c;
}
.social-icons li a .fa-youtube:hover{
    background: #287e48;
    color: darkmagenta;
    border: 1px solid rgb(43, 4, 4);
}
